.single-tour {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px #806df6;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  border-radius: 10px;
  border: 2px solid #806df6;
  background-color: #fafaff;
}

.single-tour-date {
  min-width: 10%;
}

.single-tour-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.single-tour-route {
  display: flex;
  flex-direction: column;
}

.single-tour-route h2 {
  font-size: 1rem;
  margin: 0 3rem;
  color: #806df6;
}

.single-tour-distance {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #806df6;
  border: 1px solid white;
  padding: 0.5rem 3rem;
  border-radius: 10px;
}
