.no-tours-container {
  box-shadow: 0 2px 8px #806df6;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  border-radius: 10px;
  border: 2px solid #806df6;
  background-color: #fafaff;
  text-align: center;
}

.no-tours-info {
  font-size: 24px;
  color: red;
  font-weight: bold;
}