.filter-row {
  margin: 4rem 2rem 1rem;
  text-align: right;
  color: white;

  .filter-container {
    border-radius: 10px;
    background-color: #fafaff;
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #806df6;

    .filter-name {
      margin-right: 10px;
      font-size: 18px;
    }

    .select-year {
      color: white;
      background: #806df6;
      cursor: pointer;
      width: 100px;
      height: 50px;
      line-height: 50px;
      font-size: 24px;
      -webkit-appearance: menulist-button;
      -moz-appearance: none;
      outline: 0px;
    }
  }
}
