.single-tour-date {
  min-width: 10%;
  text-align: center;
}

.tour-day {
  font-size: 2rem;
  font-weight: bold;
  color: #808080;
}

.tour-month,
.tour-year {
  font-size: 1rem;
  font-weight: bold;
  color: #808080;
}
